@CHARSET "UTF-8";

.formtable {
	padding: 10px;
	border: 1px solid blue;
	}

input[type=text]{
width: 250 px;
}

input[type=password]{
width: 250 px;
}

textarea {
width:25 px;
height:250 px;
}
.label {
text-align: right;
vertical-align: top;
}

.error {
	font-size: small;
	color: red;
	margin-left: 10 px;
}

.valid {
	font-size: small;
	color: green;
	margin-left: 10 px;
}

p.error{
	font-size: medium;
}

table.reviews {
	padding: 20 px;
	border: 1px solid grey;
}
